
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure
{
  margin  : 0 0 0 0;
  padding : 0 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure
{
  margin-bottom : 15px;
}

body
{
  font-family      : "Open Sans", sans-serif;
  font-size        : 20px;
  line-height      : 1.5;
  font-weight      : 400;
  color            : #212121;
  background-color : #ffffff;
}

img
{
  max-width      : 100%;
  vertical-align : middle;
}

blockquote
{
  padding-bottom   : 15px;
  margin-left      : 15px;
  margin-right     : 15px;
  border-left      : solid 15px #009688;
  padding-left     : 15px;
  background-color : #e6e6e6;
}

blockquote p
{
  margin-bottom : 0;
  padding-top   : 15px;
}

figcaption
{
  font-size  : 90%;
  text-align : center;
  font-style : oblique;
}

ul,
ol,
dd
{
  margin-left : 30px;
}

li > ul,
li > ol
{
  margin-bottom : 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight : 300;
  font-family : "Montserrat", sans-serif;
}

a
{
  color           : #536dfe;
  text-decoration : none;
}

a:visited
{
  color : #536dfe;
}

a:hover
{
  color           : #212121;
  text-decoration : underline;
}

a.plain
{
  color : inherit;
}

a.plain:visited
{
  color : inherit;
}

a.plain:hover
{
  color : inherit;
}

.wrapper
{
  max-width     : 840px;
  margin-right  : auto;
  margin-left   : auto;
  padding-right : 30px;
  padding-left  : 30px;
}

.wrapper::after
{
  content : "";
  display : table;
  clear   : both;
}

@media screen and (max-width: 800px)
{
.wrapper
{
  max-width     : 770px;
  padding-right : 15px;
  padding-left  : 15px;
}

}
.site-header
{
  border-top       : solid 5px #00796b;
  background-color : #009688;
  min-height       : 65px;
  position         : relative;
}

.site-title
{
  font-size      : 34px;
  line-height    : 56px;
  letter-spacing : -1px;
  margin-bottom  : 0;
  float          : left;
  color          : #ffffff;
}

.site-title:visited
{
  color : #ffffff;
}

.site-nav
{
  float       : right;
  font-size   : 22px;
  line-height : 56px;
}

.site-nav .menu-icon
{
  display : none;
}

.site-nav .page-link
{
  color       : #b2dfdb;
  line-height : 1.5;
}

.site-nav .page-link:not(:first-child)
{
  margin-left : 20px;
}

@media screen and (max-width: 600px)
{
.site-nav
{
  position         : absolute;
  top              : 9px;
  right            : 30px;
  background-color : #ffffff;
  border           : solid 1px #e6e6e6;
  border-radius    : 5px 5px 5px 5px;
  text-align       : right;
}

.site-nav .menu-icon
{
  display     : block;
  float       : right;
  width       : 36px;
  height      : 26px;
  line-height : 0;
  padding-top : 10px;
  text-align  : center;
}

.site-nav .menu-icon > svg
{
  width  : 18px;
  height : 15px;
}

.site-nav .menu-icon > svg path
{
  fill : #009688;
}

.site-nav .trigger
{
  clear   : both;
  display : none;
}


.site-nav:hover .trigger
{
  display        : block;
  padding-bottom : 5px;
}

.site-nav .page-link
{
  display : block;
  padding : 5px 10px 5px 10px;
}

}
s,
strike,
del
{
  color : #727272;
}

table
{
  font-size          : 80%;
  -webkit-box-shadow : 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow    : 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow     : 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow      : 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  box-shadow         : 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  margin             : 1rem auto 1.5rem auto;
  color              : #212121;
  width              : 100%;
  border-collapse    : collapse;
  border-radius      : 10px 10px 10px 10px;
}

table td
{
  padding : 0.2rem 0.8rem 0.2rem 0.8rem;
}

table th
{
  padding : 0.4rem 0.8rem 0.4rem 0.8rem;
}

table tr
{
  -webkit-transition : background-color 0.3s ease 0.0s;
  -moz-transition    : background-color 0.3s ease 0.0s;
  -ms-transition     : background-color 0.3s ease 0.0s;
  -o-transition      : background-color 0.3s ease 0.0s;
  transition         : background-color 0.3s ease 0.0s;
}

table tr:hover
{
  background-color : #b2dfdb;
}

table thead
{
  border-bottom : solid 1px rgba(0, 0, 0, 0.12);
}



table thead tr:first-child th:first-child
{
  border-radius : 10px 0px 0px 0px;
}

table thead tr:first-child th:last-child
{
  border-radius : 0px 10px 0px 0px;
}


table tr:last-child td:first-child
{
  border-radius : 0px 0px 0px 10px;
}

table tr:last-child td:last-child
{
  border-radius : 0px 0px 10px 0px;
}

table caption
{
  font-size  : 90%;
  font-style : oblique;
  padding    : 0px 0px 5px 0px;
}

footer
{
  border-top     : solid 1px #e6e6e6;
  padding-top    : 15px;
  padding-bottom : 15px;
}

.footer-wrapper
{
  margin     : 0 auto 0 auto;
  text-align : center;
  font-size  : 10px;
}

.social-media-list
{
  margin-bottom : 15px;
}

.social-media-list a
{
  color   : #536dfe;
  padding : 4px 8px 4px 8px;
}

.social-media-list a:hover
{
  color : #b2dfdb;
}

.footnotes
{
  font-size : 12px;
}

.footnotes ol,
.footnotes p
{
  margin-bottom : 0;
}

.page-content
{
  padding    : 30px 0 30px 0;
  text-align : justify;
}

.page-heading
{
  font-size : 20px;
}

.post-header
{
  margin-bottom : 30px;
}

.post-logo
{
  float  : right;
  height : 36px;
}

.post-title
{
  font-size      : 36px;
  letter-spacing : -1px;
  line-height    : 1;
}

.post-meta
{
  font-size   : 17.5px;
  font-weight : 300;
  font-family : "Montserrat", sans-serif;
  color       : #009688;
}

.post-content
{
  margin-bottom : 30px;
}

.post-content h2
{
  font-size : 28px;
}

.post-content h3
{
  font-size : 22px;
}

.post-content h4
{
  font-size : 18px;
}

.post-content img
{
  width : 100%;
}

.post-content img.post-hero
{
  margin-bottom : 30px;
}

.post-content .post-hero-note
{
  margin-top    : -30px;
  margin-bottom : 30px;
  font-size     : 80%;
  text-align    : right;
  font-style    : oblique;
}

.post-content .post-hero-note img
{
  width : auto;
}

.sourceCode pre
{
  font-family    : "Source Code Pro", monospace;
  margin         : 0 0 15px 0;
  padding        : 5px 10px 5px 10px;
  vertical-align : baseline;
  border         : solid 1px #dddddd;
  background     : #eeeeee;
}

.sourceCode code
{
  font-family : "Source Code Pro", monospace;
}

td.lineNumbers
{
  border-right  : solid 1px #aaaaaa;
  text-align    : right;
  color         : #aaaaaa;
  padding-right : 5px;
  padding-left  : 5px;
}

td.sourceCode
{
  padding-left : 5px;
}


.sourceCode span.kw
{
  color       : #000000;
  font-weight : bold;
}

.sourceCode span.dt
{
  color       : #445588;
  font-weight : bold;
}

.sourceCode span.dv
{
  color : #009999;
}

.sourceCode span.bn
{
  color : #009999;
}

.sourceCode span.fl
{
  color : #009999;
}

.sourceCode span.ch
{
  color : #d01040;
}

.sourceCode span.st
{
  color : #d01040;
}

.sourceCode span.co
{
  color      : #999988;
  font-style : italic;
}

.sourceCode span.ot
{
  color : #555555;
}

.sourceCode span.at
{
  color       : #ff0000;
  font-weight : bold;
}

.sourceCode span.fu
{
  color       : #990000;
  font-weight : bold;
}

.sourceCode span.re
{
  color : #000000;
}

.sourceCode span.er
{
  color       : #ff0000;
  font-weight : bold;
}


/* Generated with Clay, http://fvisser.nl/clay */